@charset "utf-8";
@font-face {
   font-family: 'KIMM_Bold';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: 'HakgyoansimDoldamB';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimDoldamB.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
}


@media (max-width:600px) {}


@media (min-width:600px)and (max-width:1361px) {}

@media (min-width:1361px) {}

p,h4,li{font-family:'KIMM_Bold' ;}
body{font-size: 15px;}

* {margin: 0; padding: 0; box-sizing: border-box; background-repeat: no-repeat; background-size: contain; background-position: center;}
a{text-decoration: none; color: #666;}
ul,li,ol{list-style: none; margin: 0; padding: 0;}
body{background-image:url(../img/body.jpg);background-repeat: no-repeat;background-size: cover;}

#wrap{width:100%;margin:0 auto; overflow: hidden;}
section{width: 92%;height: 57.8vw; display: flex;align-items: center;}
.content{margin:0 auto;width: 57%; height: 66%;  }
header{width: 8%; height: 100vh; position: fixed; top: 0%;right: 0%;}
/* all menu */

#allmenu {
   text-align: center;
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 10;
   background-color:#8cc759;
   margin: 0 auto;
   display: none;
}

.menu {
   width: 100%;
   display: flex;
   justify-content: center;
  
}

.menu>li {
   width: 10%;
   
   line-height: 20px;
   height: 20px;

}
.menu>li>a{font-size: 1.8em;}
.sub li{margin:5% 0;}

#allmenuhead {
   margin: 10%;
}
#close{  
   width: 100%;float: right;
   margin-right: 5%;
   margin-top: 5%; }
#close button {
 width: 100%;
   border: none;
   background-color:transparent ;
}
#close>button>img {width: 7%;float: right;
   margin-right: 0%;
   margin-top: 0%;}

 
#search1{width: 50%;padding: 18px;border-radius: 15px; text-align: center;border: 2px solid;color: #eeb6b6; outline: none;    margin: 0 -10% 0 0; }

.SearchBtn{margin:0 5%; vertical-align:middle;border: none;  background-color:transparent ;}
/* head */
nav li{margin: 20% 10%;}
.hamburger{width: 60px;}
/* stage */
#s1 {
   position: relative;
}

img[alt="logo"] {
   width: 40%;
   position: absolute;
   top: 10%;
   left: 5%;
   transform: rotate(-20deg);
}

#s1>div:nth-child(1) {
   background-image: url(../img/stage1.png);
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   z-index: -3;
}

#s1>div {
   position: relative;
}

#stagebox {
   width: 65%;
   height: 36%;
   background-color: aqua;
   position: absolute;
  bottom: 5px;
  top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    
;}

img[alt="berry"] {
   width: 10%;
   position: absolute;
}

#stagebox img:nth-child(2) {
   bottom: -1%;
   left: -2%;
}

#stagebox img:nth-child(3) {
   bottom: -1%;
   right: -2%;
}
/* #stagebox img:nth-child(4) { */
#s1 >img:nth-of-type(2){
   position: absolute;
   width: 40%;
   top: -8%;
   right: -5%;
   z-index: -4;
}
#video{    width: 100%;
   height: 100%;
}
#stagebox iframe {width: 100%; height: 100%;}
/* program */
#s2{position: relative;}
img[alt="stone"] { position: absolute; width: 17%; bottom: 10%; right: 150px;}
img[alt="Nonsansayinghello"] {position: absolute; width: 24%; bottom: 4%; left: 3%;}
img[alt="tree"] {position: absolute; width: 30%; bottom: 12%; right:-1%; z-index: -4;}
img[alt="sprouts"] {position: absolute; width: 19%; top: -5%; left:3%; z-index: -4;}
#s2>div:nth-child(1){background-image: url(../img/Untitled-1.jpg); display: flex; flex-wrap: wrap; align-content:space-evenly;justify-content: space-evenly;}
#program>div {width: 29%;
   margin: -1%; padding: 2%; text-align: center;
 
}
#program div img{width: 80%; border-radius: 50%;}
#program div img:hover{cursor: pointer;animation:program 1s }
#program p { 
 
   color: rgb(2, 2, 2);
   -webkit-text-stroke: 0.9px rgb(221, 166, 166);
font-size: 1.5rem;
margin: 5% -5%;
}
html {
   scroll-behavior: smooth;
}
/* course */
#course {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 2%;
 }
#s3{position: relative; }
img[alt="berrycar"] { position: absolute; width: 20%; bottom: 5%; right: -25%; opacity: 0;animation: carMove 7s ease-in-out infinite;}
#s3>div:nth-child(1){background-image: url(../img/Layer2.png); display: flex; align-items:flex-start;justify-content: center;text-align: center;}
#course>div { width: 30% ;padding: 1%;    margin-top: 13%;}
#course h2{ padding: 0%;line-height: 30px; font-size: 1rem; }
.imgbox1 {
   position: relative;
   overflow: hidden;
}

.txtbox1 {
   font-size: 1rem;
   width: 100%;
   position: absolute;
   top: 90px;
   left: 0;
  opacity: 0;
  color: rgb(0, 0, 0);
  font-weight: bold;
  transition: all 0.4s ease;
  text-shadow: 1px 1px 5px rgb(243, 243, 243);
  line-height: 25px;
  padding: 4px;
}

#course img {
   width: 100%;
   ;
  
   border-radius: 100%;
   margin: 0 -10px;
   transition: opacity 0.4s ease;
}
.imgbox1,h2:hover {cursor: pointer;}
#course>div:hover img {
   opacity: 0.5;
 }
 
 #course>div:hover .txtbox1 {
  opacity: 1;

}
 
/* experience */
#s4{position: relative; }

#s4>div:nth-child(1){background-color: rgb(221, 229, 236); display: flex; text-align: center;justify-content: space-evenly;align-items: center;border-radius: 40px  ;}
#experience p {font-size: 1.7em; padding: 10% 0;}
#experience img {
   width: 72%;
   transition: transform 0.3s ease;
   -webkit-font-smoothing: antialiased;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
}

.imgbox2 {
   position: relative;
}

.imgbox2::before {
   content: '';
   position: absolute;
   pointer-events: none;
   top: 100%;
   left: 5%;
   width: 90%;
   height: 15px;
   opacity: 0;
   background: radial-gradient(ellipse at center,
         rgba(0, 0, 0, 0.35) 0%,
         rgba(0, 0, 0, 0) 70%);
   transition: opacity 0.5s ease, transform 0.1s ease;
}

#experience>div:hover img{
   transform: translateY(-35px);
   cursor: pointer;
}
#experience p:hover{cursor: pointer;}
.imgbox2:hover::before {
   opacity: 1;
   transform: translateY(5px);
}
img[alt="Non-sandrinkingjuice"] {width: 26%;  position: absolute; bottom: 10%; left: 2%;z-index: 20; }
img[alt="flower1"]{position:absolute;bottom:15%;width: 20%; right: 3%;}
img[alt="tree1"]{position:absolute;top:-50%;width: 35%; left: -15%;}
img[alt="stone1"]{position:absolute;top:11%;width: 20%; left: 0%;z-index: 15;}
img[alt="stone2"]{position:absolute;bottom:17%;width: 10%; right: 0%;}

/* notice */
#s5 {
   position: relative;
}

#s5>img {
   position: absolute;
}

#s5>img:nth-of-type(1) {
   width: 10%;
   top: 8%;
   right: 15%
}

#s5>img:nth-of-type(2) {
   width: 7%;
   top: 10%;
   left: 10%;
}

#s5>img:nth-of-type(3) {
   width: 9%;
   bottom: -2%;
   left: 8%;
}
#s5>img:nth-of-type(4) {
   width: 8%;
   bottom: 30%;
   right: -1%;
   z-index: -4;
}

img[alt="CAKE"] {
   width: 21%;
   bottom: 3%;
   right: 10%;
   position: absolute;
}

#notice {
   background-size: covers;
   width: 59%;
}

.post {
   width: 40%;
   height: 42%;
   background-image: url(../img/Postit.png);
   background-position: center;
   text-align: center;

}

.post h3{font-size: 1.2rem; padding: 12% 0 8% 0; font-family: 'HakgyoansimDoldamB';}
.post p {font-size: 1.05rem; margin:  0 15% ; line-height: 145%; font-family: 'HakgyoansimDoldamB';}
.post img {margin: -7%; width: 47%;}
#notice {
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
}

#s5>div:nth-child(1) {
   background-image: url(../img/frame-with-leaves-beside.png);
}
/* map */
#s6{ position: relative;}

#map img{width:100% ; height: 80%; border-radius: 10%; text-align: center;}
    .zoom-container {
      position: relative;
      width: 100%;
      margin: 50px auto;
      cursor: none;
    }s
   
    .zoom-container img {
      width: 100%;
      display: block;
    }

    .zoom-lens {
      position: absolute;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 2px solid #333;
      overflow: hidden;
      pointer-events: none;
      display: none;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
      z-index: 10;
    }

    .zoom-lens img {
      position: absolute;
      /* 실제 이미지보다 2배 확대 */
      width: 200%; /* 400px * 2 */
      height: auto;
      
    }
    img[alt="stone3"]{position:absolute;bottom:-10%;width: 15%; left: 11%;}
    
    img[alt="sprouts1"]{position:absolute;top: -7%;left: 18%; width: 28%;}
    
    img[alt="treeandflowers"]{position:absolute;bottom:-5%;width: 25%; right: 0%;}
    img[alt="Nongsanisholdingstrawberries"]{position: absolute;width: 25%; top: 5%;}

/* footer */
footer{width: 100%; text-align: center;height: 10vw; padding: 10%;margin-bottom: 10%;}
footer p {color: #858484;}
.footerul{display: flex; justify-items: flex-end; justify-content: space-evenly; margin:3% 30%;}
/* animation */
@keyframes carMove {
   0% {
     right: -25%;
     opacity: 0;
   }
   10% {
     opacity: 1;
   }
   100% {
     right: 105%;
     opacity: 1;
   }
 }

@keyframes program {
   0% {
     transform: scale3d(1, 1, 1);
   }
   30% {
     transform: scale3d(1.10, 0.75, 1);
   }
   40% {
     transform: scale3d(0.75, 1.05, 1);
   }
   50% {
     transform: scale3d(1.05, 0.85, 1);
   }
   65% {
     transform: scale3d(0.95, 1.00, 1);
   }
   75% {
     transform: scale3d(1.05, 0.95, 1);
   }
   100% {
     transform: scale3d(1, 1, 1);
   }
 }
 